<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BookStore Blazor Server UI</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users/register">
                        <span class="oi oi-person" aria-hidden="true"></span>&nbsp; @context.User?.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users/logout">
                        <span class="oi oi-arrow-circle-left" aria-hidden="true"></span>&nbsp; Log Out
                    </NavLink>
                </div>
                <hr />
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authors/">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>&nbsp; Authors
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users/register">
                        <span class="oi oi-plus" aria-hidden="true"></span>&nbsp; Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users/login">
                        <span class="oi oi-person" aria-hidden="true"></span>&nbsp; Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

